{% extends 'blog/base.html' %}

{% load static %}
{% block content %}

<!--<link rel="stylesheet" href="{% static 'css/styles.css' %}" >-->
<style>
    body {
    height: 20%;
    background : linear-gradient(to right, #00ffd0, #c0faff);
}
</style>
<h2>Это главная страница</h2>
<div class="main">
    <a href="{% url 'blog:post_list' %}"><h3>1. Все посты</h3></a>
    <a href="{% url 'blog:post_list_in_table' %}"><h3>2. Посты в виде таблицы</h3></a>
    <a href="{% url 'blog:add_post' %}"><h3>3. Создать новый пост</h3></a>
    <a href="{% url 'blog:about' %}"><h3>4. О сайте</h3></a>
    <a href="{% url 'blog:contacts' %}"><h3>5. Контакты</h3></a>
    <a href="{% url 'blog:add_post' %}"><h3>6. Добавить новый пост</h3></a>
</div>


{% endblock content %}